header.header
  .header__inner
    nav.menu
      ul.menu__list
        li.menu__list-item
          a(class="menu__list-link", href="index.html", class=(name === "NG" ? "menu__list-link--active" : undefined)) Home       
        li.menu__list-item
          a(class="menu__list-link", href="fashion.html", class=(name === "fashion" ? "menu__list-link--active" : undefined)) Fashion        
        li.menu__list-item
          a(class="menu__list-link", href="portrait.html", class=(name === "portrait" ? "menu__list-link--active" : undefined)) Portrait    
    
    a(href="index.html")
      .header__logo
        h1.header__logo-name Nonna
        p.header__logo-profession photographer
    
    nav.menu
      ul.menu__list
        li.menu__list-item
          a(class="menu__list-link" href="publications.html", class=(name === "publications" ? "menu__list-link--active" : undefined)) Publications   
        li.menu__list-item
          a(class="menu__list-link" href="about.html", class=(name === "about" ? "menu__list-link--active" : undefined))  About       
        li.menu__list-item
          a(class="menu__list-link" href="contacts.html", class=(name === "contacts" ? "menu__list-link--active" : undefined)) Contacts
          

    nav.menu-burger
      a(class="certificate__link-burger" href="#")
        svg(class="gift-icon")
          use(xlink:href="images/sprite.svg#gift")
      .burger
        span.burger-icon
      ul.menu-burger__list
        li.menu-burger__list-item
          a(href="index.html" class="menu-burger__list-link")  Home
        li.menu-burger__list-item
          a(href="fashion.html" class="menu-burger__list-link")  Fashion
        li.menu-burger__list-item
          a(href="portrait.html" class="menu-burger__list-link") Portrait
        li.menu-burger__list-item
          a(href="publications.html" class="menu-burger__list-link") Publications
        li.menu-burger__list-item
          a(href="about.html" class="menu-burger__list-link") About
        li.menu-burger__list-item
          a(href="contacts.html" class="menu-burger__list-link") Contacts
          
    
  
