-let title = 'about';

html(lang="en")
    include html/head
    body 
      .wrapper
        include html/header
        main.main 
          section.about-me
            .about-me__inner
              .about-me__content
                h1.about-me__title About me
             
              .about-me__text
                .container
                  p.about-me__hello Hello, my name is Nonna
                  p.about-me__description
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid, asperiores
                    | autem beatae cumque
                    | cupiditate dolore doloremque doloribus dolorum ea eos expedita id ipsa ipsum iste iure
                    | magni maiores,
                    | minima
                    | modi nam necessitatibus nihil, nulla numquam quod recusandae similique sit suscipit
                    | ullam veritatis
                    | vero?
                    | Aperiam commodi nisi odit praesentium quidem, repellendus saepe similique totam velit
                    | veniam. Alias
                    | aliquid
                    | deleniti dolores est fugiat magni modi, mollitia odio quaerat, quisquam recusandae sequi
                    | sint sit veniam
                    | voluptatibus? Accusamus adipisci debitis dolorem doloribus eius fugit harum nobis odit
                    | omnis
                    | perferendis,
                    | possimus quia quibusdam reprehenderit sapiente tempora vel veniam voluptatum! Ab
                    | accusantium alias atque
                    | cupiditate doloremque eligendi eos, error et eveniet excepturi expedita, facere illum
                    | incidunt inventore
                    | ipsum
                    | itaque iure laboriosam, maxime molestiae nulla obcaecati perferendis praesentium tempora
                    | tenetur veniam
                    | vero
                    | voluptate? Accusamus ad aperiam atque blanditiis commodi cupiditate, deleniti ea eius
                    | eos error esse et
                    | ex
                    | explicabo fuga fugiat ipsam minus nobis nostrum odit officiis optio, praesentium quas
                    | ratione
                    | repellendus
                    | rerum, saepe sed sequi sint totam unde vel vero voluptas voluptatum. At aut consequatur
                    | dolor facilis in
                    | ipsum
                    | iure laborum molestiae nihil quaerat quisquam quod reiciendis, repellendus sequi tempora
                    | tempore unde
                    | vel
                    | vero? Adipisci animi blanditiis consequuntur enim harum laboriosam necessitatibus
                    | perferendis quasi
                    | saepe
                    | sunt. Autem ducimus iste molestias perspiciatis, quia quos sint sit ut vero? Dicta
                    | distinctio dolores
                    | enim
                    | error eum laboriosam, neque officiis quidem sit velit. Aperiam commodi corporis cumque
                    | deserunt est
                    | exercitationem minima molestiae, nemo officia placeat porro, qui quibusdam ratione,
                    | recusandae sequi.
                    | Adipisci
                    | aliquam blanditiis consectetur consequatur doloremque dolores eius eum ex facere, id in
                    | inventore itaque
                    | magnam maxime minima nam nulla officia omnis, optio possimus quae quaerat totam, unde
                    | vel veritatis.
                    | Adipisci
                    | aspernatur, error est laboriosam libero nihil omnis perferendis qui quod repellendus.
        include html/footer
        script(src="js/app.min.js")