-let title = 'Kris';
doctype html
html(lang="en")
    include html/head
    body 
      .wrapper
        include html/header
        main.main 
          section.personal-gallery
            .container
              .personal-gallery__inner
                .personal-gallery__items
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/kris/kris1.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/kris/kris2.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/kris/kris3.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/kris/kris4.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/kris/kris5.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/kris/kris6.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/kris/kris7.jpg" alt="image")
        include html/footer
        script(src="js/app.min.js")