-let title = 'Mary';

html(lang="en")
    include html/head
    body 
      .wrapper
        include html/header
        main.main 
          section.personal-gallery
            .container
              .personal-gallery__inner
                .personal-gallery__items
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova1.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova2.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova3.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova4.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova5.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova6.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova7.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova8.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova9.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/mary_perova/mary_perova10.jpg" alt="image")
        include html/footer
        script(src="js/app.min.js")