html(lang="en")
    include html/head
    body 
      .wrapper
        include html/header
        main.main 
          section.personal-gallery
            .container
              .personal-gallery__inner
                .personal-gallery__items
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian1.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian2.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian3.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian4.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian5.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian6.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian7.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian8.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian9.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian10.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/merian/merian11.jpg" alt="image")
        include html/footer
        script(src="js/app.min.js")