-let title = 'Museum';

html(lang="en")
    include html/head
    body 
      .wrapper
        include html/header
        main.main 
          section.personal-gallery
            .container
              .personal-gallery__inner
                .personal-gallery__items
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum1.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum2.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum3.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum4.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum5.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum6.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum7.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum8.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum9.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum10.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum11.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum12.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/museum/museum13.jpg" alt="image")
        include html/footer
        script(src="js/app.min.js")