-let title = 'publications';
doctype html
html(lang="en")
    include html/head
    body 
      .wrapper
        include html/header
        main.main 
          section.gallery
            .container
              .gallery__inner
                .gallery__items
                  .gallery__items-item
                    img(class="gallery__items-image" src="images/7.jpg" alt="image")
                  .content__items-item
                    img(class="gallery__items-image" src="images/8.jpg" alt="image")
                  .content__items-item
                    img(class="gallery__items-image" src="images/9.jpg" alt="image")
        include html/footer
        script(src="js/app.min.js")