-let title = 'Vladlena';

html(lang="en")
    include html/head
    body 
      .wrapper
        include html/header
        main.main 
          section.personal-gallery
            .container
              .personal-gallery__inner
                .personal-gallery__items
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/vladlena/vladlena1.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/vladlena/vladlena2.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/vladlena/vladlena3.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/vladlena/vladlena4.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/vladlena/vladlena5.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/vladlena/vladlena6.jpg" alt="image")
                  .personal-gallery__items-item
                    img(class="personal-gallery__items-image" src="images/vladlena/vladlena7.jpg" alt="image")
        include html/footer
        script(src="js/app.min.js")