.footer {
  background-color: #242424;
  width: 100%;

  &__inner {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-name {
    font-family: 'Cormorant Garamond', serif;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 150px;
    line-height: 1.2;
  }
}

.contacts {
  font-family: 'Roboto', sans-serif;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;

  &__title {
    color: #FFF;
    font-size: 20px;
  }

  &__item {
    margin: 10px 0;
    display: flex;
  }
}


.social__list {
  display: flex;
  max-width: 150px;
}

.social-icon {
  width: 35px;
  height: 35px;
  fill: #FFF;
  margin-right: 25px;
}

.contacts-icon {
  width: 35px;
  height: 15px;
  fill: #cccccc;
}

.contacts__copyright{
  color: #aaa9a9
}